<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
</head>

<body>
  {% if contact.pk %}
    <a href="{% url 'contact-detail' contact.pk %}">Back</a>
    <h1>Edit Contact</h1>
  {% else %}
    <a href="{% url 'contact-list' %}">Back</a>
    <h1>Create New Contact</h1>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</body>

</html>