<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact List</title>
</head>

<body>
  <h1>Contact List</h1>
  <a href="{% url 'contact-create' %}">Create New Contact</a>
  <ul>
    {% for contact in contacts %}
      <li>
        <a href="{% url 'contact-detail' contact.pk %}">{{ contact.last_name }}, {{ contact.first_name }}</a>
      </li>
    {% empty %}
      <li>No contacts available.</li>
    {% endfor %}
  </ul>
</body>

</html>